@big Mobile (min-width: 375px);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #051129;
  overflow-x: hidden;
  max-width: 900px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
body .naviBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  wrap: wrap;
  font-size: 2rem;
  margin: 2% 0 2%;
  padding: 2%;
}
body .naviBar div {
  width: 0 auto;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 2%;
}
body .naviBar div p {
  font-size: 4rem;
}
body .naviBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  wrap: nowrap;
  width: 239px;
  height: 43px;
  padding: 1%;
}
body .naviBar ul a {
  text-decoration: none;
  color: #051129;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
@media (min-width: 500px) {
  body .naviBar ul a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
}
body .naviBar ul:hover a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
body .naviBar ul span {
  width: 32px;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 9% 0 0;
  padding: 3% 0 2%;
  background-color: rgba(7, 2, 0, 0.541);
  color: #dceaf7;
}
.indexFooter {
  display: block;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 0;
  color: lightgrey;
}
body {
  background-image: url('/img/bg_img.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .indexCont {
  width: 90%;
  display: block;
  margin: 0 auto;
}
body .indexCont .normalDisplay {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  grid-template-areas: 'indexIntro' 'basePrice' 'proPrice' 'betaProg' 'faq' 'support' 'contactUs';
}
body .indexCont .normalDisplay .indexIntro {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  wrap: nowrap;
  grid-area: indexIntro;
}
body .indexCont .normalDisplay .indexIntro h1 {
  text-align: center;
}
body .indexCont .normalDisplay .indexIntro h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
body .indexCont .normalDisplay .indexIntro .fa-4x {
  font-size: 4rem;
  margin: 2rem auto;
}
body .indexCont .normalDisplay .infoCard {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  height: 10rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
body .indexCont .normalDisplay .infoCard:hover {
  background-color: rgba(226, 226, 226, 0.514);
}
body .indexCont .normalDisplay .infoCard .price {
  font-size: 3rem;
  font-weight: bold;
}
body .indexCont .normalDisplay .basePrice {
  grid-area: basePrice;
}
body .indexCont .normalDisplay .proPrice {
  grid-area: proPrice;
}
body .indexCont .normalDisplay .betaProg {
  grid-area: betaProg;
  color: lightgrey;
}
body .indexCont .normalDisplay .faq {
  grid-area: faq;
  color: lightgrey;
}
body .indexCont .normalDisplay .support {
  grid-area: support;
  color: lightgrey;
}
body .indexCont .normalDisplay .contactUs {
  grid-area: contactUs;
  color: lightgrey;
}
body .indexCont .bigCards {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
body .indexCont .bigCards .bigCard {
  width: 80%;
  height: 80vh;
  margin: auto auto;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  position: relative;
  background-color: #9FC6E7;
  opacity: 0.75;
  color: black;
}
body .indexCont .bigCards .bigCard h2 {
  text-align: center;
}
body .indexCont .bigCards .bigCard .closeBtn {
  position: absolute;
  top: 0;
  right: 1rem;
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 3rem;
}
body .indexCont .bigCards .bigCard .closeBtn:hover {
  cursor: pointer;
}
body .indexCont .bigCards #basePrice {
  display: none;
}
body .indexCont .bigCards #proPrice {
  display: none;
}
body .indexCont .bigCards #betaProg {
  display: none;
}
body .indexCont .bigCards #faq {
  display: none;
}
body .indexCont .bigCards #support {
  display: none;
}
body .indexCont .bigCards #contactUs {
  display: none;
}
body .indexCont .bigCards #contactUs .contactForm {
  display: grid;
  gap: 2rem;
  grid-template-areas: 'fName' 'lName' 'company' 'eMail' 'phone' 'comments' 'submit';
}
body .indexCont .bigCards #contactUs .contactForm .formInputs {
  margin: 0 auto;
}
body .indexCont .bigCards #contactUs .contactForm .fName {
  grid-area: fName;
}
body .indexCont .bigCards #contactUs .contactForm .lName {
  grid-area: lName;
}
body .indexCont .bigCards #contactUs .contactForm .company {
  grid-area: company;
}
body .indexCont .bigCards #contactUs .contactForm .eMail {
  grid-area: eMail;
}
body .indexCont .bigCards #contactUs .contactForm .phone {
  grid-area: phone;
}
body .indexCont .bigCards #contactUs .contactForm .comments {
  grid-area: comments;
}
body .indexCont .bigCards #contactUs .contactForm .submit {
  grid-area: submit;
  text-align: center;
}
body .indexCont .bigCards #contactUs .contactForm .submit p {
  font-size: 1rem;
}
@media (min-width: 500px) {
  body .indexCont .normalDisplay {
    gap: 2rem;
    grid-template-areas: 'indexIntro indexIntro' 'basePrice proPrice' 'betaProg faq' 'support contactUs';
  }
  body .indexCont .normalDisplay .betaProg {
    color: black;
  }
  body .indexCont .normalDisplay .faq {
    color: black;
  }
}
@media (min-width: 750px) {
  body .indexCont .normalDisplay {
    gap: 2rem;
    grid-template-areas: 'indexIntro indexIntro indexIntro' 'basePrice proPrice betaProg' 'faq support contactUs';
  }
  body .indexCont .normalDisplay .support {
    color: black;
  }
  body .indexCont .normalDisplay .contactUs {
    color: black;
  }
}
body .aboutContainer {
  font-size: 1.8rem;
  width: 95%;
  scrollbar-width: thin;
}
body .aboutContainer .aboutPageContent .aboutMainContent {
  margin-bottom: 5%;
  background-color: rgba(226, 226, 226, 0.514);
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5%;
  border-radius: 6px;
}
body .aboutContainer .aboutPageContent .aboutTeam {
  background-color: rgba(226, 226, 226, 0.514);
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5%;
  border-radius: 6px;
}
body .aboutContainer .aboutSection {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin: 0 5% 0;
}
body .aboutContainer .aboutSection .aboutCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 3% 0 3%;
}
body .aboutContainer .aboutSection .aboutCard img {
  display: none;
}
@media (min-width: 500px) {
  body .aboutContainer .aboutSection .aboutCard img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 32%;
    margin-right: 6%;
    margin-left: 0;
  }
}
body .aboutContainer .aboutSection .aboutCard .cardSection {
  justify-content: flex-end;
  width: 90%;
  background-color: rgba(226, 226, 226, 0.514);
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5%;
  border-radius: 6px;
}
body .aboutContainer .aboutSection .aboutCard .cardSection .icons {
  margin-top: 5%;
  margin-bottom: 3%;
  width: 120px;
}
