/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
body .naviBar {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 2% 0 5%;
}
body .naviBar a {
  text-decoration: none;
  color: #333;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 9% 0 0;
  padding: 3% 0 2%;
  background-color: #333;
  color: #dceaf7;
}
body {
  background-image: url('/assets/img/bg_img.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .indexCont .indexIntro {
  width: 80%;
  height: 40%;
  opacity: 0.7;
  backdrop-filter: blur(20px);
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
}
body .indexCont .infoCards {
  width: 80%;
  display: grid;
  grid-template-columns: 4rem 20rem 2rem 20rem 4rem;
  grid-template-rows: 20rem 2rem 20rem 2rem 20rem;
}
body .indexCont .infoCard {
  opacity: 0.7;
  backdrop-filter: blur(20px);
  text-align: center;
  border-radius: 0.5rem;
}
body .indexCont .bigCards {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: hidden;
}
body .aboutContainer {
  font-size: 1.8rem;
  width: 95%;
}
body .aboutContainer .aboutSection {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin: 0 5% 0;
}
body .aboutContainer .aboutSection .aboutCard {
  display: flex;
  flex-flow: row nowrap;
  margin: 3% 0 3%;
}
body .aboutContainer .aboutSection .aboutCard img {
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  margin-right: 10%;
  margin-left: 0;
}
body .aboutContainer .aboutSection .aboutCard p {
  justify-content: flex-end;
  width: 70%;
  background-color: rgba(226, 226, 226, 0.5);
  padding: 1.5%;
  border-radius: 6px;
}
