@big Mobile (min-width: 375px);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #051129;
  overflow-x: hidden;
  max-width: 900px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
body .naviBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 2rem;
  margin: 2% 0 2%;
  padding: 2%;
}
body .naviBar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 25%;
}
body .naviBar a {
  text-decoration: none;
  color: #051129;
}
body .naviBar div {
  width: 0 auto;
  align-self: center;
  justify-content: center;
}
body .naviBar div p {
  font-size: 4rem;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 9% 0 0;
  padding: 3% 0 2%;
  background-color: #333;
  color: #dceaf7;
}
body {
  background-image: url('/img/bg_img.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .indexCont {
  width: 90%;
  display: block;
  margin: 0 auto;
}
body .indexCont .normalDisplay {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  grid-template-areas: 'indexIntro' 'basePrice' 'proPrice' 'betaProg' 'faq' 'support' 'contactUs';
}
body .indexCont .normalDisplay .indexIntro {
  background-color: rgba(226, 226, 226, 0.514);
  backdrop-filter: blur(20px);
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  wrap: nowrap;
  grid-area: indexIntro;
}
body .indexCont .normalDisplay .indexIntro h1 {
  text-align: center;
}
body .indexCont .normalDisplay .indexIntro h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
body .indexCont .normalDisplay .indexIntro .fa-4x {
  font-size: 4rem;
  margin: 2rem auto;
}
body .indexCont .normalDisplay .infoCard {
  background-color: rgba(226, 226, 226, 0.514);
  backdrop-filter: blur(20px);
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  height: 10rem;
}
body .indexCont .normalDisplay .infoCard .price {
  font-size: 3rem;
  font-weight: bold;
}
body .indexCont .normalDisplay .basePrice {
  grid-area: basePrice;
}
body .indexCont .normalDisplay .proPrice {
  grid-area: proPrice;
}
body .indexCont .normalDisplay .betaProg {
  grid-area: betaProg;
}
body .indexCont .normalDisplay .faq {
  grid-area: faq;
}
body .indexCont .normalDisplay .support {
  grid-area: support;
}
body .indexCont .normalDisplay .contactUs {
  grid-area: contactUs;
}
body .indexCont .bigCards {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: hidden;
}
@media (min-width: 500px) {
  body .indexCont .normalDisplay {
    gap: 2rem;
    grid-template-areas: 'indexIntro indexIntro' 'basePrice proPrice' 'betaProg faq' 'support contactUs';
  }
}
@media (min-width: 750px) {
  body .indexCont .normalDisplay {
    gap: 2rem;
    grid-template-areas: 'indexIntro indexIntro indexIntro' 'basePrice proPrice betaProg' 'faq support contactUs';
  }
}
body .aboutContainer {
  font-size: 1.8rem;
  width: 95%;
}
body .aboutContainer .aboutSection {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin: 0 5% 0;
}
body .aboutContainer .aboutSection .aboutCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 3% 0 3%;
}
body .aboutContainer .aboutSection .aboutCard img {
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  margin-right: 10%;
  margin-left: 0;
}
body .aboutContainer .aboutSection .aboutCard .cardSection {
  justify-content: flex-end;
  width: 90%;
  background-color: rgba(226, 226, 226, 0.514);
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5%;
  border-radius: 6px;
}
body .aboutContainer .aboutSection .aboutCard .cardSection .icons {
  margin-top: 5%;
  width: 120px;
}
