.flexStatus (@direction, @justify, @align, @wrap) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
    wrap: @wrap;
}

.gridStatus (@gapSize, @useShadow) {
    display: grid;
    gap: @gapSize;
}

.fontype(){
    font-family: 'Roboto', sans-serif;
    color: rgb(5, 17, 41);
}

.bgImg(){
    background-image: url('/img/bg_img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

