.flexStatus (@direction, @justify, @align, @wrap) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
    wrap: @wrap;
}

.gridStatus (@gapSize, @useShadow) {
    display: grid;
    gap: @gapSize;
}

.fontype(){
    font-family: 'Roboto', sans-serif;
    color: rgb(5, 17, 41);
}

.cardSettings(){
    background-color: rgba(226, 226, 226, 0.514);
    box-shadow: @shadow;
    padding: 1.5%;
    border-radius: 6px;
}

.hoverAnimation(){
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.bgImg(){
    background-image: url('/img/bg_img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.easteregg(){
    z-index: 2;
    background-image: url('/img/ee_bg_img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
