body{
    
    .naviBar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        font-size: 2rem;
        margin: 2% 0 2%;
        padding: 2%;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 25%;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        div {
            width: 0 auto;
            align-self: center;
            justify-content: center;
            
            p{
                font-size: 4rem;
            }
        }

    }
}