body{

    .mainNav {
        .flexStatus(column, center, center, nowrap);
        width: 100%;
        padding: 2rem;
        
        h1 {
            font-size: 4rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }
    
        ul {
            .flexStatus(row, space-around, center, nowrap);
            font-size: 4rem;
            width: 100%;
            text-decoration: none;
            color: @main-font;
    
            li a i {
                border-color: @main-font;
            }
            
        }
     }
    
    .naviBar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        font-size: 2rem;
        margin: 2% 0 2%;
        padding: 2%;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 25%;
        }

        a {
            text-decoration: none;
            color: rgb(5, 17, 41);
        }

        div {
            width: 0 auto;
            align-self: center;
            justify-content: center;
            
            p{
                font-size: 4rem;
            }
        }

    }
}