body {
    .bgImg();

    // THIS IS A HIDDEN BACKGROUND!!!
    // PLEASE FEEL FREE TO UNCOMMENT!!!

    //.easteregg();


    //Landing Page Styling - small phone (500px max)
    .indexCont {
        width: 90%;
        display: block;
        margin: 0 auto;

        .normalDisplay {
            display: grid;
            gap: 1rem;
            margin: 0 auto;
            grid-template-areas:
                'indexIntro'
                'basePrice' 
                'proPrice' 
                'betaProg'
                'faq' 
                'support'
                'contactUs';
            

            .indexIntro {
                background-color: rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                padding: 2rem .5rem;
                border-radius: .5rem;
                box-shadow: @shadow;
                .flexStatus(column,  center, center, nowrap);
                grid-area: indexIntro;

                h1 {
                    text-align: center;
                }

                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;
                }

                .fa-4x {
                    font-size: 4rem;
                    margin: 2rem auto;
                    // border: 1px black solid;
                }

            }


            
            .infoCard {
                background-color: rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                display: grid;
                align-items: center;
                justify-items: center;                
                border-radius: .5rem;
                box-shadow: @shadow;
                height: 10rem;
                cursor: pointer;
                transition: all .3s ease;
                &:hover {
                    background-color: @cardColor;
                }

                    .price {
                        font-size: 3rem;
                        font-weight: bold;
                    }
                }
        
            .basePrice {
                grid-area: basePrice;
            }

            .proPrice {
                grid-area: proPrice;
            }

            .betaProg {
                grid-area: betaProg;
                color: @light-font;
                
            }

            .faq {
                grid-area: faq;
                color: @light-font;
                
            }

            .support {
                grid-area: support;
                color: @light-font;
                
            }

            .contactUs {
                grid-area: contactUs;
                color: @light-font;
                
            }




    }
            
        .bigCards {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;

            .bigCard {
              width: 80%;
              height: 80vh; 
              margin: auto auto;
              padding: 3rem 2rem;
              border-radius: .5rem;
              box-shadow: @shadow;
              position: relative;
              background-color: @backingColor;
              opacity: 0.75;
              color: @main-font;
                h2 {
                    text-align: center;
                }
                .closeBtn {
                    position: absolute;
                    top: 0;
                    right: 1rem;
                    transform: rotate(45deg);
                    font-weight: bold;
                    font-size: 3rem;
                    &:hover {
                        cursor: pointer;
                    }
                } 

            }

            #basePrice {
                display: none;
            }

            #proPrice {
                display: none;
            }

            #betaProg   {
                display: none;
            }

            #faq {
                display: none;
            }

            #support {
                display: none;
            }

            #contactUs {
                display: none;

                .contactForm {
                    display: grid;
                    gap: 2rem;
                    grid-template-areas: 
                        'fName'
                        'lName'
                        'company'
                        'eMail'
                        'phone'
                        'comments'
                        'submit';

                    .formInputs {
                        margin: 0 auto;
                    }

                    .fName {
                        grid-area: fName;
                    }

                    .lName {
                        grid-area: lName;
                    }

                    .company {
                        grid-area: company;
                    }

                    .eMail {
                        grid-area: eMail;
                    }

                    .phone {
                        grid-area: phone;
                    }

                    .comments {
                        grid-area: comments;
                    }

                    .submit {
                        grid-area: submit;
                        text-align: center;

                        p {
                            font-size: 1rem;
                        }
                    }

                }
            }

        }
  
    }


    @media @tablet {
        .indexCont .normalDisplay {
            gap: 2rem;
            grid-template-areas: 
            'indexIntro indexIntro'
            'basePrice proPrice'
            'betaProg faq'
            'support contactUs';

            .betaProg {
                color: @main-font;
                
            }

            .faq {
                color: @main-font;
                
            }

        }
    }


    @media @desktop {
        .indexCont .normalDisplay {
            gap: 2rem;
            grid-template-areas: 
            'indexIntro indexIntro indexIntro'
            'basePrice proPrice betaProg'
            'faq support contactUs';

            .support {
                color: @main-font;
                
            }

            .contactUs {
                color: @main-font;
                
            }


        }
    }
    

    
    // About Us Page Styling
    .aboutContainer{
        font-size: 1.8rem;
        width: 95%;
        scrollbar-width: thin;


        .aboutSection{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            margin: 0 5% 0;
            

            .aboutCard{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                margin: 3% 0 3%;

                

                img {
                    display: none;


                    @media @tablet {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 32%;
                        margin-right: 6%;
                        margin-left: 0;
                    }


                }

                .cardSection {
                   justify-content: flex-end; 
                   width: 90%;
                   background-color: rgba(226, 226, 226, 0.514);
                   box-shadow: @shadow;
                   padding: 1.5%;
                   border-radius: 6px;

                   .icons{
                       margin-top: 5%;
                       margin-bottom: 3%;
                       width: 120px;
                   }
                }
            }
        }
    }
}
