body {
    

    //Landing Page Styling - small phone (500px max)
    .indexCont {
        width: 90%;
        display: block;
        margin: 0 auto;

        .normalDisplay {
            display: grid;
            gap: 1rem;
            margin: 0 auto;
            grid-template-areas:
                'indexIntro'
                'basePrice' 
                'proPrice' 
                'betaProg'
                'faq' 
                'support'
                'contactUs';
            

            .indexIntro {
                background-color: rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                padding: 2rem .5rem;
                border-radius: .5rem;
                box-shadow: @shadow;
                .flexStatus(column,  center, center, nowrap);
                grid-area: indexIntro;

                h1 {
                    text-align: center;
                }

                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;
                }

                .fa-4x {
                    font-size: 4rem;
                    margin: 2rem auto;
                    // border: 1px black solid;
                }

            }


            
            .infoCard {
                background-color: rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                display: grid;
                align-items: center;
                justify-items: center;                
                border-radius: .5rem;
                box-shadow: @shadow;
                height: 10rem;

                    .price {
                        font-size: 3rem;
                        font-weight: bold;
                    }
                }
            
            .basePrice {
                grid-area: basePrice;
            }

            .proPrice {
                grid-area: proPrice;
            }

            .betaProg {
                grid-area: betaProg;
            }

            .faq {
                grid-area: faq;
            }

            .support {
                grid-area: support;
            }

            .contactUs {
                grid-area: contactUs;
            }




    }
            
        .bigCards {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;

            .bigCard {
                
            }
        }
  
    }
    
    footer {
        margin: 2rem auto;
        height: 2rem; 
        text-align: center;
        padding: .5rem;
        background: @secondary-font;
        opacity: 0.7;
        color: @light-font;
    }

    @media @tablet {
        .indexCont .normalDisplay {
            gap: 2rem;
            grid-template-areas: 
            'indexIntro indexIntro'
            'basePrice proPrice'
            'betaProg faq'
            'support contactUs';

        }
    }


    @media @desktop {
        .indexCont .normalDisplay {
            gap: 2rem;
            grid-template-areas: 
            'indexIntro indexIntro indexIntro'
            'basePrice proPrice betaProg'
            'faq support contactUs';

        }
    }
    
    // About Us Page Styling
    .aboutContainer{
        font-size: 1rem;

        .aboutSection{
            display: flex;
            flex-flow: column wrap;

            .aboutCard{
                font-size: 10px;
            }
        }
    }
}
